<div class="row">
  <div class="large-12 columns">
    <h2>Créer une API</h2>
    <label>
      Adresse
      <input type="text" name="host">
    </label>
    <label>
      Nom
      <input type="text" name="name">
    </label>
    <label>
      Description
      <input type="text" name="description">
    </label>
  </div>
</div>
