<div class="row">
  <div class="large-12 columns">
    <div class="large-11 columns">
      <h4>Ajouter des méthodes</h4>
    </div>

    <div class="large-1 columns">
      <button id="addMethod" class="button round tiny" type="button">+</button>
    </div>
  </div>
</div>

<div id="methods"></div>

<div class="row" id="method" style="display:none;">
  <div class="large-12 columns">
    <h5 id="method_name"></h5>
    <label>
      Nom
      <input type="text" name="methods[].name">
    </label>

    <label>
      Description
      <input type="text" name="methods[].description">
    </label>

    <label>
      Request type
      <select name="methods[].type">
        <option value="GET">GET</option>
        <option value="POST">POST</option>
        <option value="PUT">PUT</option>
        <option value="DELETE">DELETE</option>
      </select>
    </label>

    <% include param %>

    <label id="script">
      Script

    </label>
  </div>
</div>
